<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <p>
    Your bounty, <%= @bounty.name %>, has been accepted by
    <%= @artist.get_identifier() %>. You should contact this artist at
    <%= @artist.email %> in order to complete payment.
  </p>
</body>
</html>

