<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <p>
    Your bounty, <%= @bounty.name %>, has been completed by
    <%= @artist.get_identifier() %>. The completed artwork can be viewed
    <%= link_to 'on the Bounty Board', @bounty %>.
  </p>
</body>
</html>

