<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <p>
    Your bounty <%= @bounty.name %> has been rejected by all candidate artists, and has been deleted.
  </p>
  <p>
    TODO insert non-placeholder text here
  </p>
</body>
</html>

