Artist <%= @unaccepting_artist.get_identifier %> has stopped working on
your bounty <%= @bounty.name %>. This doesn't mean that your bounty is
canceled, however. If other artists are candidates for your bounty, they
can still accept and complete it, or
<%= @unaccepting_artist.get_identifier %> can accept the bounty again
later.

If you would like to discuss why the artist stopped working on your bounty,
you can contact <%= @unaccepting_artist.get_identifier %> at
<%= @unaccepting_artist.email %>

