<div id="artist-list">
  <ul>
  <% @artists.each do |a| %>
        <li>
        <% if a.badge.file? %>
            <%= link_to image_tag(a.badge.url), artist_path(a.id) %>
            <br>
            <%= a.name %>
        <% else %>
            <%= link_to image_tag('Badge.png'), artist_path(a.id) %>
            <br>
            <%= a.name %>
        <% end %>
        </li>
  <% end %>
  </ul>
</div>

