<div id="form-area">
    <%= render partial: 'shared/artist_error_messages', locals: { artist: @artist } %>
    <%= semantic_form_for @artist do |artist_form| %>
        <%= artist_form.input :name, :required => true %>
        <%= artist_form.input :email, :required => true %>
        <%=
          render(
            :partial => 'shared/markdown_input_field',
            :locals => {
              :model => 'artist',
              :property => 'bio',
              :initial_value => @artist.bio
            }
          )
        %>
        <%=
          render(
            :partial => 'shared/markdown_input_field',
            :locals => {
              :model => 'artist',
              :property => 'bounty_rules',
              :initial_value => @artist.bounty_rules
            }
          )
        %>
        <div class="control-panel"><%= artist_form.submit :class => "bounty-button submit-button" %><%=   link_to_function 'Back', "history.back()", class: 'bounty-button' %></div>
    <% end %>
</div>
