<header>
  <%= image_tag(@badge_url, :class => 'artist-badge') %>
  <p class="artist-basic-info">
    <span class="name"><%= @artist.name %></span><br>
    <%= @artist.email %><br>
    Joined : <%= @artist.created_at.to_date.to_s() %><br>
  </p>
</header>

<div class="divider"></div>

<div class="bio-and-rules-container">
  <section class="bio">
    <header class="section-heading">Biography</header>
    <div class="markdown-content-container"><%= @artist.bio_to_html %></div>
  </section>

  <div class="vertical-separator"></div>

  <section class="bounty-rules">
    <header class="section-heading">Rules</header>
    <div class="markdown-content-container"><%= @artist.bounty_rules_to_html %></div>
  </section>
</div>

<div class="divider"></div>

<% unless @accepted_bounties.empty? %>
  <section class="accepted-bounties">
    <header class="section-heading">Currently Working On...</header>
    <%=
      render(
        :partial => 'shared/bounty_list',
        :locals => { :bounties => @accepted_bounties }
      )
    %>
  </section>
  <div class="divider"></div>
<% end %>


<% unless @completed_bounties.empty? %>
  <section class="completed-bounties">
    <header class="section-heading">Portfolio</header>
    <%=
      render(
        :partial => 'shared/bounty_list',
        :locals => { :bounties => @completed_bounties }
      )
    %>
  </section>
  <div class="divider"></div>
<% end %>


<div class="control-panel">
  <%= link_to 'Back', root_path, class: 'bounty-button' %>
  <% if @owner_artist_visiting %>
    <%= link_to 'Update', edit_artist_path(@artist), class: 'bounty-button' %>
    <%= link_to 'Your Dashboard', user_path(@artist), class: 'bounty-button' %>
  <% end %>

  <% if @admin_visiting %>
    <%= link_to 'Update', edit_artist_path(@artist), class: 'bounty-button' %>
    <%= link_to 'Delete', @artist, :confirm => "Are you sure you want to delete #{@artist.name}?", :method => :delete, class: 'bounty-button' %>
    <% if @artist.approved %>
      <%=
        link_to(
          'Un-Approve',
          artist_path(@artist, :artist => {:approved => false}),
          :method => :put,
          :class => 'bounty-button'
        )
      %>
    <% else %>
      <%=
        link_to(
          'Approve',
          artist_path(@artist, :artist => {:approved => true}),
          :method => :put,
          :class => 'bounty-button'
        )
      %>
    <% end %>
  <% end %>
</div>
