<ol class="comment-list">
  <% comments.each do |comment| %>
  <li>
    <div><%= comment.user.get_identifier || 'anonymous' %></div>
    <div class="comment"><%= comment.content.html_safe %></div>
  </li>
  <% end %>
</ol>
