<%= form_for [bounty, Comment.new() ] do |comment_form| %>
  <%= hidden_field_tag :bounty_id, bounty.id %>
  <div class="wysiwyg-panel"
    data-idsuffix="-comment-new-content"
    data-preview-window-class="comment"
    data-title="Comment Preview"
  >
    Your comment:
    <div class="wmd-button-bar" id="wmd-button-bar-comment-new-content"></div>
    <textarea class="wmd-input wmd-input-comment-new-content" name="comment[content]"></textarea>
  </div>
  <%= comment_form.submit "Publish Your Comment" %>
<% end %>
