<header class="user-dashboard">
    <%= "#{@user.get_identifier()}\'s Bounties" %>
</header>

<%=
  render(
    :partial => 'shared/bounty_list',
    :locals => { :bounties => @bounties }
  )
%>

<%
# dropdown menus and panels are defined here, and are attached to
# their appropriate launchers by the jQuery dropdowns plugin
%>
<div id="dropdown-filters-controls" class="dropdown dropdown-tip">
  <div class="dropdown-panel">
    <div id="filter_control">
      <%= render 'shared/filters_general' %>
    </div>
  </div>
</div>
