<div id="form-area">
  <%= semantic_form_for @bounty do |complete_form| %>
        <%=
          complete_form.input(
            :artwork,
            :as => :file,
            :required => true,
            :hint => "The completed artwork for the customer."
          )
        %>
        <%=
          complete_form.input(
            :preview,
            :as => :file,
            :required => false,
            :hint => <<-HINT
  A custom thumbnail for the completed artwork.
  Must be 200x280px. (Optional)
            HINT
          )
        %>
        <div class="control-panel">
          <%= complete_form.submit :class => "bounty-button submit-button" %>
          <%=   link_to_function 'Back', "history.back()", class: 'bounty-button' %>
        </div>
  <% end %>
</div>