<%=
  render(
    :partial => 'shared/bounty_list',
    :locals => { :bounties => @bounties }
  )
%>

<div class='previous'>
  <%= link_to_previous_page @bounties, 'Previous', class: 'pagination' %>
</div>
<div class='next'>
  <%= link_to_next_page @bounties, 'Next', class: 'pagination' %>
</div>

<%
# dropdown menus and panels are defined here, and are attached to
# their appropriate launchers by the jQuery dropdowns plugin
%>
<div id="dropdown-filters-controls" class="dropdown dropdown-tip">
  <div class="dropdown-panel">
    <div id="filter_control">
      <%= render 'shared/filters_general' %>
      <% if current_user.is_a?(Artist) %>
        <%= render 'shared/filters_artist' %>
      <% end %>
    </div>
  </div>
</div>
