<div id="form-area">
  <%= render partial: 'shared/bounty_error_messages', locals: { bounty: @bounty } %>
  <%= semantic_form_for @bounty do |bounty_form| %>
    <%= bounty_form.input :name, :required => true, :input_html => { :size => 40 }, :hint => "The name of your bounty. Max 40 characters." %>
    <%= bounty_form.input :tag_line, :as => :text, :required => true, :input_html => { :rows => 3, :maxlength => 160 }, :hint => "A short description of your bounty for the front page. Max 160 characters.", :label => "Tag Line" %>
    <%=
      render(
        :partial => 'shared/markdown_input_field',
        :locals => {
          :model => 'bounty',
          :property => 'description',
          :initial_value => ''
        }
      )
    %>
    <%=
      bounty_form.input(
        :price,
        :as => :number,
        :required => true,
        :input_html => { :value => "#{Bounty.MINIMUM_PRICE}" },
        :hint => "The price you're willing to pay. Min $#{Bounty.MINIMUM_PRICE} USD."
      )
    %>
    <%=
      bounty_form.input(
        :private,
        :required => false,
        :as => :select,
        :hint => <<-HINT
If a bounty is private, only the artists you pick and admins may see it.
        HINT
      )
    %>
    <%=
      bounty_form.input(
        :complete_by,
        :as => :date_select,
        :start_year => Time.now.year,
        :label => "Due Date",
        :required => false,
        :hint => "The date by which this bounty must be finished. (Optional)"
      )
    %>
    <%=
      bounty_form.input(
        :artists,
        :collection => Artist.available().where('id <> ?', current_user.id),
        :as => :check_boxes,
        :input_html => { :checked => 'checked' },
        :hint => "Which artists may complete your bounty?"
      )
    %>
    <%=
      bounty_form.input(
        :moods,
        :as => :check_boxes,
        :hint => <<-HINT
Tags that help describe your bounty at a glance. Min
#{Personality.MINIMUM_MOODS}. Max #{Personality.MAXIMUM_MOODS}.
        HINT
      )
    %>
    <div class="control-panel">
      <%= bounty_form.submit :class => "bounty-button submit-button" %>
      <%=   link_to_function 'Back', "history.back()", class: 'bounty-button' %>
    </div>
  <% end %>
</div>
