<div class="name">
  <%= @bounty.name %><br>
  <% if @bounty.adult_only %>
    <div class="adult">18+</div>
  <% end %>
</div>
<% if @bounty.status == "Unclaimed" %>
  <div class="candidacies">
    <% unless @bounty.candidacies.empty? %>
      <% @bounty.candidacies.each do |c| %>
        <%= c.artist.get_identifier %>
        <% unless c == @bounty.candidacies.last %>
        or
        <% end %>
      <% end %>
      may complete this bounty for <%= humanized_money_with_symbol @bounty.price %>
    <% else %>
      All artists have rejected this bounty. :(
    <% end %>
  </div>
<% else %>
  <div class="status"><%= @bounty.status %> by <%= @bounty.acceptor_candidacy.artist.get_identifier %> for <%= humanized_money_with_symbol @bounty.price %></div>
<% end %>

<% if @bounty.status == "Completed" %>
 <img src="<%="#{@bounty.artwork.url}"%>" class="completed-art">
<% else %>
  <div class="moods">
    |
    <% @bounty.moods.each do |m| %>
      <%= m.name %> |
    <% end %>
  </div>
  <div class="bounty-desc hyphenate"><%= @bounty.description_to_html %></div>
  <%= render :partial => 'comments/list', :locals => { :comments => @bounty.comments } %>
  <% if signed_in? %>
    <%= render :partial => 'comments/new', :locals => { :bounty => @bounty } %>
  <% end %>
<% end %>
<div class="dates">
  Created on <%= @bounty.created_at.strftime("%B %d, %Y") %>
  <% if @bounty.status != "Unclaimed" %> | Accepted on <%= @bounty.acceptor_candidacy.accepted_at.strftime("%B %d, %Y") %><% end %>
  <% if @bounty.status == "Completed" %> | Completed on <%= @bounty.completed_at.strftime("%B %d, %Y") %><% end %>
  <% if @bounty.complete_by %><h3>This bounty must be finished by <%= @bounty.complete_by.strftime("%B %d, %Y") %></h3><% end %>
</div>
<div class="control-panel">
<%=   link_to_function 'Back', "history.back()", class: 'bounty-button' %>
<% if signed_in? %>
  <% if (@bounty.owner == current_user && @bounty.status == 'Unclaimed') || current_user.admin? %>
    <%=   link_to 'Update', edit_bounty_path(@bounty.id), class: 'bounty-button' %>
  <% end %>
  <% if (@bounty.owner == current_user && @bounty.status == 'Unclaimed') || current_user.admin? %>
    <%=   link_to 'Delete', @bounty, :confirm => "Are you sure you want to delete #{@bounty.name}?", :method => :delete, class: 'bounty-button' %>
  <% end %>
  <% if @bounty.artists.include?(current_user) && @bounty.status == 'Unclaimed' %>
    <%=
    link_to(
      'Accept',
      candidacy_path(
        @bounty.candidacies.find { |candidacy|
          candidacy.artist == current_user
        },
        :candidacy => {:accept => true}
      ),
      :method => :put,
      :class => 'bounty-button'
    )
    %>
  <% elsif @bounty.acceptor_candidacy &&
           @bounty.acceptor_candidacy.artist == current_user
  %>
    <%=
    link_to(
      'Un-Accept',
      candidacy_path(
        @bounty.acceptor_candidacy,
        :candidacy => {:accept => false}
      ),
      :method => :put,
      :class => 'bounty-button'
    )
    %>
  <% end %>
  <% if @bounty.artists.include?(current_user) && @bounty.status == 'Unclaimed' %>
    <%=   link_to 'Reject', candidacy_path, :method => :delete, :confirm => "Are you sure you want to reject this bounty?", class: 'bounty-button' %>
  <% end %>
  <% if @bounty.acceptor_candidacy && current_user == @bounty.acceptor_candidacy.artist && @bounty.status == 'Accepted' %>
    <%=   link_to 'Complete', complete_bounty_path(@bounty.id), class: 'bounty-button' %>
  <% end %>
  <% if @bounty.acceptor_candidacy && current_user == @bounty.acceptor_candidacy.artist && @bounty.status == 'Completed' %>
    <%=   link_to 'Update Artwork URL', edit_bounty_path(@bounty.id, "Complete"), class: 'bounty-button' %>
  <% end %>
<% end %>


