<%
  # takes a bounty model as a parameter and if the model has errors set then it
  # prints the associated error messages
%>
<% if bounty and bounty.errors.any? %>
  <div id="errors">
    <div id="error-wrapper">
      <p class="error-title">
        <%= pluralize(bounty.errors.count, "error") %>
        found while saving your bounty!
      </p>
      <p>There were problems with the following fields:</p>
      <ol>
        <% bounty.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>
