<%
  # takes parameter "bounties" giving a list of the bounty models to be
  # rendered
%>
<% if bounties.empty? %>
  <h4>No Bounties to Show</h4>
<% else %>
  <div class="bounty-list">
    <% bounties.each do |bounty| %>
      <%=
        render(
          :partial => 'shared/bounty_square',
          :locals => { :bounty => bounty }
        )
      %>
    <% end %>
  </div>
<% end %>
