<% # takes parameter "bounty" giving the bounty model to be rendered %>
<div
  class="bounty-square"
  data-price="<%= bounty.price %>"
  data-id="<%= bounty.id %>"
  data-name="<%= bounty.name %>"
  data-filename="<%= bounty.artwork_file_name %>"
>
  <%=
    link_to(
      content_tag(:span, ""),
      bounty_path(bounty.id),
      class: 'bounty-click-wrapper'
    )
  %>
  <% if bounty.status == "Completed" %>
    <% unless bounty.artwork.url == '/artworks/original/missing.png'%>
      <% if bounty.preview_file_name %>
        <%= image_tag("#{bounty.preview.url(:standard)}") %>
      <% else %>
        <%= image_tag("#{bounty.artwork.url(:thumb)}") %>
      <% end %>
    <% else %>
        <div class="missing"></div>
    <% end %>
  <% else %>
    <div class="nail"></div>
    <div class="name"><%= bounty.name %></div>
    <div class="price-ribbon">
      <div><%= humanized_money_with_symbol bounty.price %></div>
    </div>
    <div class="short-desc hyphenate"><%= bounty.tag_line %></div>
  <% end %>
  <% if signed_in? %>
    <% favorite = bounty.favored_by(current_user) %>
    <% if favorite %>
      <%=  link_to '', favorite, :method => :delete, class: 'fav fav-red' %>
    <% else %>
      <%=
        link_to(
          '',
          favorites_path(:favorite => {:bounty_id => bounty.id}),
          :action => :create,
          :method => :post,
          :class => 'fav'
        )
      %>
    <% end %>
  <% end %>
  <% if bounty.status != "Unclaimed" %>
    <div class="<%= bounty.status.downcase %>-stamp"></div>
  <% end %>
  <% if signed_in? %>
    <% cast_vote = bounty.vote_by(current_user) %>
    <% if cast_vote %>
      <% if cast_vote.vote_type == VoteType::UPVOTE %>
        <%=
          link_to(
            '',
            cast_vote,
            :method => :delete,
            class: 'upvote upvote-red'
          )
        %>
        <div class="downvote downvote-grey"></div>
      <% else %>
        <div class="upvote upvote-grey"></div>
        <%=
          link_to(
            '',
            cast_vote,
            :method => :delete,
            :class => 'downvote downvote-red'
          )
        %>
      <% end %>
    <% else %>
      <% if bounty.can_vote?(current_user) %>
        <%=
          link_to(
            '',
            votes_path(
              :vote => {
                :vote_type => VoteType::UPVOTE,
                :bounty_id => bounty.id
              }
            ),
            :action => :create,
            :method => :post,
            class: 'upvote'
          )
        %>
        <%=
          link_to(
            '',
            votes_path(
              :vote => {
                :vote_type => VoteType::DOWNVOTE,
                :bounty_id => bounty.id
              }
            ),
            :action => :create,
            :method => :post,
            :class => 'downvote'
          )
        %>
      <% end %>
    <% end %>
  <% end %>
</div>

