<label for="filter_cost">Price:</label>
<input id="filter_cost"
  data-bounty_min_price="<%= Bounty.MINIMUM_PRICE %>"
  data-bounty_max_price="<%= Bounty.MAXIMUM_PRICE %>"
  type="text"
>
<div id="filter_cost_widget" class="filters_slider"></div>
<hr>
<p>Age-Restricted Bounties</p>
<div id="filter_adult" class="filter_buttonset"><%=
  label_tag("filter_adult_all", "Show All") -%><%=
  radio_button_tag(:filter_adult, "all", true) -%><%=
  label_tag("filter_adult_kid-friendly", "G-Rated Only") -%><%=
  radio_button_tag(:filter_adult, "kid-friendly") -%><%=
  label_tag("filter_adult_adult", "Adult Only") -%><%=
  radio_button_tag(:filter_adult, "adult") -%>
</div>
<hr>
<p>Bounty Status</p>
<div id="filter_status" class="filter_buttonset"><%=
  label_tag("filter_status_", "All") -%><%=
  radio_button_tag(:filter_status, "", true) -%><%=
  label_tag("filter_status_unclaimed", "Unclaimed") -%><%=
  radio_button_tag(:filter_status, "unclaimed") -%><%=
  label_tag("filter_status_accepted", "Accepted") -%><%=
  radio_button_tag(:filter_status, "accepted") -%><%=
  label_tag("filter_status_completed", "Complete") -%><%=
  radio_button_tag(:filter_status, "completed") -%>
</div>
