<%
  # filters for a bounty list that are only appropriate for artists
 %>
<p>Show My Current Workload</p>
<div id="filter_artist_workload" class="filter_buttonset"><%=
  label_tag("filter_artist_workload_", "Show All") -%><%=
  radio_button_tag(:filter_artist_workload, "", true) -%><%=
  label_tag(
    "filter_artist_workload_#{current_user.get_identifier()}",
    "Only Bounties I'm Working On"
  ) -%><%=
  radio_button_tag(
    :filter_artist_workload,
    current_user.get_identifier()
  ) -%>
</div>
<hr>
<p>Show My Finished Work</p>
<div id="filter_artist_portfolio" class="filter_buttonset"><%=
  label_tag("filter_artist_portfolio_", "Show All") -%><%=
  radio_button_tag(:filter_artist_portfolio, "", true) -%><%=
  label_tag(
    "filter_artist_portfolio_#{current_user.get_identifier()}",
    "Only Bounties I've Completed"
  ) -%><%=
  radio_button_tag(
    :filter_artist_portfolio,
    current_user.get_identifier()
  ) -%>
</div>
