<%
  # This partial generates the HTML for a form field that accepts Markdown. It
  # takes the following parameters:
  #   "model": the name of the model being created or updated
  #   "property": the name of the property on the specified model that this
  #     field's data should be sent to
  #   "initial_value": the initial value of the form field
  #
%>
<li class="input" id="<%= "#{model}-#{property}-input" %>">
<label class="label" for="<%= "#{model}-#{property}" %>"><%= property.titleize %></label>
  <div class="wysiwyg-panel"
    data-idsuffix="<%= "-#{model}-#{params[:action]}-#{property}" %>"
    data-preview-window-class="<%= "#{model}-#{property}" %>"
    data-title="<%= property.titleize %> Preview"
  >
    <div
      class="wmd-button-bar"
      id="<%= "wmd-button-bar-#{model}-#{params[:action]}-#{property}" %>"
    >
    </div>
    <textarea
      class="wmd-input <%= "wmd-input-#{model}-#{params[:action]}-#{property}" %>"
      id="<%= "#{model}-#{property}" %>"
      name="<%= "#{model}[#{property}]" %>"
    ><%= initial_value %></textarea>
  </div>
</li>

