#artists-show
  color: $black
  background: $yellow
  border: 1px inset $black
  +roundCorners
  background-image: url('PaperTexture.jpg')
  padding: 30px 100px
  width: 65%
  margin: 50px auto
  text-align: center

  > header
    text-align: left
    font-family: 'Carnevalee Freakshow'
    font-size: 180%
    margin-left: 5%
    margin-bottom: 20px

    img
      vertical-align: top

    .artist-basic-info
      display: inline-block
      margin: 0 15px 0 15px
      line-height: 1
      vertical-align: middle

      .name
        font-size: 250%
        line-height: 1

  .divider
    width: 100%
    height: 14px
    margin: 20px auto 20px auto
    background-image: url('Divider.png')
    background-repeat: no-repeat
    background-position: center
    background-size: 100% 14px

  .bio-and-rules-container
    display: table
    border-collapse: collapse

    > *
      display: table-cell

  .vertical-separator
    width: 14px
    background-image: url('Divider-Vertical.png')
    background-repeat: no-repeat
    background-position: center
    background-size: 14px 100%

  .bio, .bounty-rules
    width: 48%

  .section-heading
    font-weight: bold
    font-size: 120%
    margin: 15px auto 30px auto

  .markdown-content-container
    text-align: left
    margin: 15px 30px


#artist-list
  color: $black
  background: $yellow
  border: 1px inset $black
  @include roundCorners
  background-image: url('PaperTexture.jpg')
  padding: 20px
  width: 45%
  margin: 50px auto 0 auto
  text-align: center

  li
    font-family: 'Carnevalee Freakshow'
    @include linkColor($black)
    list-style-type: none
    font-size: 200%
    display: inline-block


