// styles for the bounty description field
// don't require this to be a descendant of any other styles because
// we want to be able to apply it to the preview window on the new
// bounty and edit bounty forms so users can see exactly what their
// bounty description will look like
.bounty-desc
  font-size: 120%
  margin: 30px auto
  width: 80%
  min-height: 200px
  +verticalCenter

  img
    max-height: 40%


#bounties-show
  color: $black
  background: $yellow
  border: 1px inset $black
  +roundCorners
  background-image: url('PaperTexture.jpg')
  margin-bottom: 20px
  text-align: center
  padding: 20px
  width: 55%
  margin: 50px auto 0 auto

  .name
    width: 75%
    line-height: 50px
    font-size: 400%
    font-family: 'Carnevalee Freakshow'
    margin: 0 auto

    .adult,
      display: inline-block
      color: $lightRed
      margin: 0 10px

    .adult
      font-size: 90%

  .candidacies
    width: 75%
    line-height: 50px
    font-size: 220%
    font-family: 'Carnevalee Freakshow'
    margin: 10px auto

  .completed-art
    max-width: 100%
    margin: 10px auto

  .status
    display: inline-block
    margin-top: 10px
    line-height: 50px
    font-size: 350%
    font-family: 'Carnevalee Freakshow'

  .dates
    margin-top: 20px
    width: 95%
    font-size: 120%
    margin: 0 auto

  .wysiwyg-panel
    border-top: 2px solid $brown
    padding: 15px

