// Styles for the control panel that shows at the bottom of most pages with
// buttons for navigation or other actions available on the page.
.control-panel
  width: 100%
  margin: 20px auto
  text-align: center

