/* this element is made visible by the filters controls Javascript if it
 * detects the page has provided a set of filters controls */
#filters-controls-toggle
  display: none

#dropdown-filters-controls
  .ui-slider
    margin: 6px

  #filter_cost
    border: 0px
    font-weight: bold
    color: $orange

  .filter_buttonset
    text-align: center
    font-size: 70%

  p
    margin: 10px

