// Styles for the main page header.

.wrapper > header
  color: $black
  width: 950px
  height: 225px
  border: 1px inset $black
  +linkColor($white)
  +roundCorners
  background-image: url('bountyHeaderBeta.jpg')
  margin: 30px auto
  text-align: center

  button
    font-size: 1.5em !important
    margin-top: 15%
