// Styles for the User#show page.
#users-show
  color: $black
  background: $yellow
  border: 1px inset $black
  +roundCorners
  background-image: url('PaperTexture.jpg')
  padding: 30px 100px
  width: 65%
  margin: 50px auto
  text-align: center

  > header
    text-align: left
    font-family: 'Carnevalee Freakshow'
    font-size: 200%
    margin-left: 5%
    margin-bottom: 20px

