.wysiwyg-panel
  text-align: center

  .wmd-button-bar
    background-color: snow
    width: 60%
    margin-left: auto
    margin-right: auto

  .wmd-input
    margin-left: auto
    margin-right: auto
    width: 90%
    height: 8em

.wmd-preview-container
  display: none
  position: absolute
  border: 1px solid black
  margin: 15px
  background-color: white

  .wmd-preview
    border: 2px solid black
    margin: 15px
    min-height: 2em

