<footer>
  <div class="footer-wrapper">
    &copy; Devin Leonhart, Nixie Bishop, and Brent Houghton, 2013<br>
    The Bounty Board is free software available under the open source AGPL
    license.
    <a href="http://github.com/devleorepo/bountyboard">Play with the source code.</a><br>
  </div>
</footer>


