<header>
  <% if signed_in? %>
    <button class="bounty-button"><%=   link_to 'Post a Bounty', new_bounty_path, id: 'post-bounty' %></button>
  <%  else %>
    <button class="persona-login-button bounty-button">Sign In to Post Your Bounty</button>
  <%  end %>
</header>

<div class="flash-box">
  <% [:notice, :error, :alert].each do |level| %>
    <% unless flash[level].blank? %>
      <div class="alert <%= flash_class(level) %>">
          <%= flash[level] %>
          <%=   link_to 'x', root_path, class: 'close' %>
      </div>
    <% end %>
  <% end %>
</div>