<nav>
  <%= link_to 'The Bounty Board', root_path %>
  <%= link_to 'Artist Profiles', artists_path %>
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'New Artist', new_artist_path %>
  <% end %>
  <% if signed_in? %>
    <%= link_to 'Your Bounties', user_path(current_user.id) %>
  <% end %>
  <% if signed_in? && current_user.is_a?(Artist) %>
    <%= link_to 'Artist Dashboard', artist_path(current_user.id) %>
  <% end %>
  <a id="filters-controls-toggle" data-dropdown="#dropdown-filters-controls" href="#">
    Filter Displayed Bounties
  </a>
  <span class="login-notify-area">
    <div class="persona-buttons">
      <% if signed_in? %>
            Logged in as
        <%= current_user.get_identifier() %>
        <button class="persona-logout-button">
          Sign Out
        </button>
      <%  else %>
        <button class="persona-login-button">
          Sign In with Persona
        </button>
      <%  end %>
    </div>
    <div class="persona-ajax-spinner">
      <div class="persona-spinner-text">
        <%# The Persona login script fills in the appropriate message here. %>
      </div>
      <%= image_tag 'persona-ajax-spinner.gif' %>
    </div>
  </span>
</nav>
