<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bounty Board</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://browserid.org/include.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>

  <!-- provide HTML5 compatibility for IE 8 and older -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="wrapper">
  <%#    Header navigation bar on the top of the page with sign-in controls. %>

    <%= render 'layouts/nav_bar' %>

    <header>
      <% if signed_in? %>
        <button class="bounty-button"><%=   link_to 'Post a Bounty', new_bounty_path, id: 'post-bounty' %></button>
      <%  else %>
        <button class="persona-login-button bounty-button">Sign In to Post Your Bounty</button>
      <%  end %>
    </header>

    <div class="flash-box">
      <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
          <div class="alert <%= flash_class(level) %>">
              <%= flash[level] %>
              <%=   link_to 'x', root_path, class: 'close' %>
          </div>
        <% end %>
      <% end %>
    </div>


  <div id="<%= "#{controller.controller_name}-#{controller.action_name}" %>" class="page-area">
    <%= yield %>
  </div>

  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
